<ion-header [translucent]="true">
  <ion-toolbar style="background-color: darkgoldenrod;">
    <ion-title> CongoPay </ion-title>
    <ion-title style="font-size: small; color: dodgerblue;" slot="end"> Personel </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="background-color: darkgoldenrod;">
      <ion-title size="large">Confledis</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card style="box-shadow: none !important;">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/photo.jpg">
        </ion-avatar>
        <ion-label>Houssem Rekhaies</ion-label>
      </ion-item>
    </ion-card>

    <ion-card style="box-shadow: none !important;">
      <ion-card-header>
        <ion-card-subtitle style="font-weight: bold;">Solde</ion-card-subtitle>
        <ion-card-title style="font-weight: normal;">8000 £</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-card>


  <ion-card style="box-shadow: none !important;">
    <div id="container">
      <h1>Upgrade now to CongoPay business</h1>
      <p>
        Start transition
        <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Business</a>
      </p>
    </div>
  </ion-card>

  <ion-card style="background-color: slateblue; padding-top: 10;">
    <ion-card-header>
      <ion-card-subtitle style="font-weight: bold; color: whitesmoke;">consult your history / start transaction
      </ion-card-subtitle>
      <ion-card-title style="color: white;">Transations
        <ion-icon name="card-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: dodgerblue;">
    <ion-card-header>
      <ion-card-subtitle style="font-weight: bold; color: whitesmoke;">consult your payment history </ion-card-subtitle>
      <ion-card-title style="color: white;">Payments <ion-icon style="margin-top: 2px;" name="logo-paypal"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color: goldenrod;">
    <ion-card-header>
      <ion-card-subtitle style="font-weight: bold; color: whitesmoke;">consult your wishlist / validate your payments
      </ion-card-subtitle>
      <ion-card-title style="color: white;">Wishlist
        <ion-icon name="diamond-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>